<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Buy a book</title>-->
<!--</head>-->
<!--<body>-->

<!--<h2>Buy a Book</h2>-->

<!--<form th:action="@{/add/list/{bookId}(bookId=${bookId})}" method="post">-->
<!--&lt;!&ndash;    <label for="ownerId">Owner ID:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="number" id="ownerId" name="ownerId" required><br><br>&ndash;&gt;-->

<!--    <button type="submit" class="btn btn-success">-->
<!--        <i class="fa-solid fa-coins"></i> Add this book <i class="fa-solid fa-book"></i>-->
<!--    </button>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->